.box {
    min-height: 100px;
}

#grid {
    display: grid;
    
    max-width: 300px;
}

#cell {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert--container {
    min-height: 80px;
}